<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Awsome Gallery</title>
</head>
<body>

<nav>
    {% if request.user.is_authenticated %}
        <form method="post" action="/accounts/logout/">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <p><a href="/accounts/login/">Login </a> | <a href="/accounts/register/">Register </a></p>
    {% endif %}
</nav>

<h1>Awsome Gallery</h1>

<ul>
    {% for image in images %}
    <li><img src="{{ image.file.url }}" title="{{ image.title }}"></li>
    {% endfor %}
</ul>
</body>
</html>